@thesis{ {{-data.tag}},
    author = { {{-data.authors-}} },
    title = { {{-data.title-}} },
    year = { {{-data.year-}} },
    type = { {{-data.thesis_type-}} },
    school = { {{-data.institution-}} }
}

